img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.margen-arriba{
	margin-top: 10px;
}
.sacramento{
	font-family: 'Sacramento', cursive;
	color: #08AE20;
}
.tam-grande{
	font-size: 60px;
}
.sans{
	font-family: 'Satisfy', cursive;
	font-size: 45px;
}
.espacio-derecha{
	margin-right: 2px;
}
a{
	color: #4860F0;
}
.sin-vin li{
	list-style-type: none;
}
.sin-vin{
	margin: 0px;
	padding: 0px; 
}
.pad{
}